<html>
<head>
<body bgcolor= "black">
<center>
<h1 style="color:red;font-size:40px;"> Hello Everyone!! </h1>
<h1 style="color:red;font-size:40px;"> This Webpage from ip address {{ ansible_facts['default_ipv4']['address'] }}...</h1>
</center>
</body>
</head>
</html>
